body {
	margin: 0;
	background-color: #DDAB65;
	font-family: "Ubuntu", "Sans-serif";
	font-weight: bold;
}
h1 {
	position: relative;
	left: -20px;
}
a {
	background-color: #008080;
	color: white;
	text-decoration: none;
}
a:hover {
	color: #DDAB65;
	transition: color .35s ease;
}
.sidebar > a {
	display: block;
	padding: 5px;
}
.tabbed {
	margin-left: 20px;
}
.twotabbed {
	margin-left: 40px;
}
.sidebar {
	position: fixed;
}
.maincontent {
	position: absolute;
	left: 150px;
	padding: 0 15%;
}
